 .header{
    width: 100vw;
    height: 30px;
    position: fixed;
    color: red;
    padding-bottom: 100px;
}
.main{
    height: 100%;
}
body{
    background-image: url('http://getwallpapers.com/wallpaper/full/9/a/c/654145.jpg');
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    height: auto;
    object-fit: contain;

}
.main{
    /* height: 100%; */
    /* background-color: black; */
}
.card{
    opacity: 0.8;
}